%text-style {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
}

.Item--wrapper {
    width: 352px;
    height: 502px;
    margin-bottom: 74px;
    background: linear-gradient(180deg, #ffc804 0%, rgba(255, 200, 4, 0) 100%);
    border-radius: 20px;

    img {
        margin: 1px 0 27px 1px;
        width: 350px;
        height: 262px;
        border-radius: 20px;
    }
}

.Item--name {
    @extend %text-style;
    margin-bottom: 46px;
}

.Item--button_block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 12px;

    p {
        @extend %text-style;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 220px;
        height: 60px;
        background: #ffc804;
        border-radius: 20px;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: 0.1em;
        color: #ffffff;
    }
}

span {
    color: white;
    font-size: 25px;
}

//For tablets 1000px

@media screen and (max-width: 1050px) {
    .Item--wrapper {
        width: 276px;
        height: 500px;

        img {
            width: 273px;
            height: 262px;
            object-fit: cover;
        }
    }

    .Item--button_block {
        margin-top: -31px;

        button {
            font-size: 25px;
        }
    }

    .Item--name {
        font-size: 27px;
    }
}
