.Navbar--wrapper {
    display: flex;
    padding: 0;
    justify-content: space-between;
    width: 1148px;
    height: 37px;
    margin: 0 auto;

    li {
        width: 255px;
        height: 37px;
        list-style-type: none;
        font-family: "Calibri";
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 37px;

        a {
            display: block;
            background-color: transparent;
            border-radius: 20px;
            transition: 0.2s;
        }

        .Navbar--active {
            background-color: #ffffff;
        }
    }
}
